.playing-now-container {

    display: block;

    width: calc(500px + (25px * 2) + (15px * 2));
    height: calc(100px + (25px * 2) + (15px * 2));

    overflow: hidden;

    padding: 10px;
    animation: enterPlaying 1s ease-in-out forwards;
}

.playing-now-container .playing-now {

    display: flex;

    position: relative;

    width: 450px;
    height: 80px;

    padding: 15px;

    border-radius: var(--box-radius);

    margin: 25px;
    z-index: 1000;

}

/* .playing-now-container .playing-now::after {
    content: "";
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: var(--box-radius);
    background-color: var(--color-bg);
    background-image: url('back-playing.png'); 
    background-size: 20%;

    z-index: -1;
}*/

/* .playing-now-container .playing-now::before {

    content: "";
    position: absolute;

    inset: 0px;
    transform: translate(10px, 8px); 
    scale: 0.999;
    filter: blur(20px);

    padding: 15px;

    width: 450px;
    height: 80px;

    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 100%); 
    z-index: -4;

} */

.playing-now-container.hidden,
.playing-now-container.hidden {

    width: 0px;
    /* opacity: 0; */

    animation: exittingPlaying 1s ease-in-out forwards;

}

.playing-now-container .playing-now .album-image {
    width: 80px;
    height: 80px;

    position: relative;
    margin-right: 50px;
}

.playing-now-container .playing-now .album-image img {

    position: absolute;

    width: 80px;
    height: 80px;

    background-color: #57606f;

    object-fit:cover;

    border: none;
    outline: none;

    border-radius: var(--box-radius);

    z-index: 4;

}

.playing-now-container .playing-now .album-image .pause-stat {
    position: absolute;

    left: 0;
    top: 0;

    font-size: 20pt;

    display: none;
    color: #ffffff;
    
    width: 80px;
    height: 100%;

    z-index: 8;
}

.playing-now-container .playing-now.paused .album-image .pause-stat {
    display: block;
}

.playing-now-container .playing-now .album-image::after {

    content: " ";

    display: block;

    position: absolute;
    left: 30px;
    top: 0px;

    width: 80px;
    height: 80px;

    /* background-position: center; */
    /* background-size: cover; */
    /* background-image: url('/disco-de-vinilo.png'); */

    z-index: 2;

    animation: discRotate 1s linear infinite;

}

.playing-now-container .playing-now.paused .album-image::after {
    animation: none;
}

.playing-now-container .playing-now .playing-content {

    display: flex;

    flex-direction: column;

    justify-content: center;

    width: 100%;
    height: 100%;

    /* margin-left: 15px; */

}

.playing-now-container .playing-now .playing-content .song-name {

    font-size: 18pt;
    /* font-weight: bold; */

    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    color: #ffffff;

}

.playing-now-container .playing-now .playing-content .song-author {
    color: #ced6e0;
    font-style: italic;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.playing-content .song-progress-cont {
    width: 100%;
    height: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
    overflow-x: hidden;
    
    /* background-color: #fff; */
    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 100%);  */

    /* display: flex; */
    /* flex-direction: row-reverse; */
    border-radius: 5px;
}


.playing-content .song-progress-cont .song-progress {
    width: 100%;
    height: 5px;
    background-color: #fff;
    /* border-radius: 5px; */
    transition: width 1s ease;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    position: relative;
}

.playing-now.paused .playing-content .song-progress-cont .song-progress::before {
    display: none;
}

.playing-content .song-progress-cont .song-progress::before {
    content: "";
    width: 2px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    animation: playing 1s ease-in-out infinite;
}

@keyframes playing {
    0% {
        left: 100%;
        width: 2px;
        transform: translate(-100%, 0%);
        opacity: 0;
    } 
    10% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
    100% {
        left: calc(100% + 20px);
        opacity: 0;
        transform: translate(-100%, 0%);
    }
}

@keyframes discRotate {
    from {

        transform: rotate(0deg);

    }

    to {

        transform: rotate(180deg);

    }
}

@keyframes enterPlaying {
    
    from {

        width: 0px;

    }

    to {
        width: calc(500px + (25px * 2) + (15px * 2));
    }

}

@keyframes exittingPlaying {
    
    from {

        width: calc(500px + (25px * 2) + (15px * 2));

    }

    to {
        width: 0px;
    }

}
